    table.contacttable
    {
        margin: 10px 5px;
    }
    .contacttitle
    {
        font-size: 16px;
        color: #0054A6;
        font-weight: bold;
        font-family: Arial;
    }
    .contactdescription
    {
        font-size: 11px;
        color: #3A3A3A;
    }