    .login-container
    {
        margin: 70px auto 0px auto;
    }
    .auth-form
    {
        font: 13px Helvetica, arial, freesans, clean, sans-serif;
        line-height: 1.4;
        width: 400px;
        margin: 30px auto;
    }
    .auth-form form
    {
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.075);
    }
    .auth-form-header
    {
        position: relative;
        padding: 10px 20px;
        margin: 0;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        background-color: #6c8393;
        background-image: -moz-linear-gradient(#7f95a5, #6c8393);
        background-image: -webkit-linear-gradient(#7f95a5, #6c8393);
        background-image: linear-gradient(#7f95a5, #6c8393);
        background-repeat: repeat-x;
        border: 1px solid #6e8290;
        border-bottom-color: #586873;
        border-radius: 4px 4px 0 0;
    }
    .auth-form-header h1
    {
        font-size: 16px;
        font-weight: bold;
    }
    
    .auth-form-body
    {
        padding: 20px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #d8dee2;
        border-top-color: white;
        border-radius: 0 0 4px 4px;
        margin-bottom: 15px;
    }
    
    .form-label
    {
        font-weight: bold;
        font-size: 13px;
        color: #333333;
    }
    
    .form-radio
    {
        font-weight: bold;
        font-size: 13px;
        color: #0093f0;
        text-align: center;
    }
    
    .userId, .userPassword
    {
        min-height: 34px;
        padding: 7px 3px;
        outline: none;
        color: #333333;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right center;
        border: 1px solid #cccccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: all 0.15s ease-in;
        -webkit-transition: all 0.15s ease-in 0;
        vertical-align: middle;
        margin-top: 5px;
        margin-bottom: 15px;
        height: 20px;
        width: 98.5%;
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
        line-height: 13px;
    }
    .userId:focus,.userPassword:focus
    {
        border-color: rgba(82, 168, 236, 0.8);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
        outline: 0;
        outline: thin dotted \9;
    }
    .auth-form-body a
    {
        color: #0093f0;
        font-size: 11px;
        text-decoration: none;
    }
    .auth-form-body a:hover
    {
        text-decoration: underline;
    }
    .flash-messages
    {
        margin: 20px auto;
        width: 650px;
    }
    .flash
    {
        color: #9c2400;
        font-family: verdana,helvetica,arial,sans-serif;
        background-color: #efd0d0;
        background-image: -moz-linear-gradient(#f8d8d8, #efd0d0);
        background-image: -webkit-linear-gradient(#f8d8d8, #efd0d0);
        background-image: linear-gradient(#f8d8d8, #efd0d0);
        background-repeat: repeat-x;
        border: 1px solid #da9797;
        position: relative;
        margin: 0 auto;
        padding: 15px 50px 15px 15px;
        font-weight: bold;
        font-size: 12px;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    }
    .cross-icon
    {
        width: 16px;
        height: 16px;
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        right: 15px;
        cursor: pointer;
        opacity: 0.6;
    }