.reportheading
    {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }
       
.dealerselectiontoolbar
    {
        color: #3E576F;
        margin-top: 15px;
    }
.dealerselectiontoolbar tr td
    {
        padding: 10px 5px 0px 10px;
    }
    
    .required
    {
        color: #FF0000;
    }
    .details
    {
        color: #15c;
    }

    a.details:hover
    {
        cursor: pointer;
        text-decoration: underline;
    }